/* Nav Bar */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap');


body{

}


h3 {
    font-family:'Cairo', sans-serif;
    font-weight: 650;
    font-size: 2em;
}


p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


header{
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.container-head {
  margin: 200px auto;
  margin-top: 0pt;
  margin-bottom: 0pt;
  max-width: 75rem;
  align-items: center;
  display: flex;
  column-gap: 10px;
  row-gap: 5px;

  
}

.container-nav {
  margin: 200px auto;
  margin-top: 0pt;
  margin-bottom: 0pt;
  max-width: 75rem;
  align-items: center;
  display: flex;
  column-gap: 10px;
  row-gap: 5px;
}

.container-nav2{
  margin: 200px auto;
  margin-top: 0pt;
  margin-bottom: 0pt;
  max-width: 75rem;
  align-items: center;
  display: flex;
  column-gap: 10px;
  row-gap: 5px;
  }
  

.wordmark {
  border: 4px solid rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  min-width: fit-content;
  min-height: fit-content;
}

.locations-main{
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  min-width: fit-content;

}

.locations-mark{
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  min-width: fit-content;
 }

.open--icon{
  width: 70px;
  padding: none;
  margin-left: 0pt;
}
.search {
  border: 4px solid rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  min-width: fit-content;
  color: white;
}



.nav-bar__top {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline .26rem;
  min-width: fit-content;
  text-underline-offset: 5px;
}

.nav-bar__top a {
  color: black;
  text-decoration: none;
  padding: 12px;
}

.nav-bar__top a:hover {
  background-color: black;
  color: white;
  padding:12px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: black;
}

  
.nav-bar__bottom {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  list-style: none;
  font-size: 1.9em;
  font-weight: bold;
  text-decoration: underline .26rem;
  min-width: fit-content;
  text-underline-offset: 5px;
}
  
.nav-bar__bottom a {
  color: black;
  text-decoration: none;
  padding: 12px;
}
  
.nav-bar__bottom a:hover {
  background-color: black;
  color: white;
  padding:12px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: black;
}

.banner {
 background-color: black ;
}
