<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Printed Matter</title>
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div class="container-head">
          <h3 class="wordmark">Printed Matter, Inc.</h3>
          <h3 a class="search" href="#">//////////</a></h3>
          <img src="img/open.png" class="open--icon">
          <ul class="locations-main">
            <li><a href="#!" class="button">Main Location</a></li>
            <li>231 11th Ave, NYC</li> 
            <li>Today until <a href="#!" class="button">7pm</a> </li>
          </ul>
          <img src="img/closed.png" class="open--icon">
          <ul class="locations-mark">
            <li><a href="#!" class="button">St Marks</a></li>
            <li>38 St Marks Pl, NYC</li> 
            <li>Open Apr 23 at <a href="#!" class="button">12pm</a></li>
          </ul>
      </div>
      <div class="container-nav">
          <ul class="nav-bar__top">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Subscribe to email</a></li>
            <li><a href="#">Instagram </a></li>
            <li><a href="#">Digital downloads </a></li>
            <li><a href="#">Submit a book </a></li>
            <li><a href="#"> Donate</a></li>
          </ul>
        </div>
        <div class="container-nav2">
          <ul class="nav-bar__bottom">
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Your cart</a></li>
          </ul>
        </div>
      </section>
      </div>
    </header>
    <section class="banner">
    </section>
    </body>
  </html>

     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
      
  