<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Printed Matter</title>
    <link href="css/normalize.cssa" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>

  <body>
    <header>

        <h1 class="title">Web Components of <a href="https://www.printedmatter.org/">Printed Matter, Inc.</a></h1><br><br>


        <h2>Top Header: (Wordmark, Search bar, Locations)</h2><br><br>
        <div class="header__top">
       <div class="wordmark">
         <a href="#">Printed Matter, Inc.</a>
       </div>
       <input class="search" type="text" placeholder="Search..">

      <div><img class="open" src="img/open.png" alt=""></div>
      <div class="location"><a href="#">Main Location</a><br>
             231 11th Ave, NYC<br>
             Today until 7pm</div>
      <div><img class="open" src="img/open.png" alt=""></div>
      <div class="location"><a href="#">St Marks</a><br>
           38 St Marks Pl, NYC<br>
           Open April 23 at 12pm</div>
      </div>

      <br><br><h2>Middle Header Nav:</h2><br><br>
      

      <div class="header__middle">
        <nav class="nav__middle">
          <ul class="nav__middlelist">
            <li><a href="#!">Log in</a></li>
            <li><a href="#!">Subscribe to email</a></li>
            <li><a href="#">Instagram </a></li>
            <li><a href="#">Digital downloads </a></li>
            <li><a href="#">Submit a book </a></li>
            <li><a href="#"> Donate</a></li>
          </ul>
        </nav>
      </div>

      <br><br><h2>Bottom Header Nav:</h2><br><br>


      <div class="header__bottom">
        <nav class="nav__bottom">
           <ul class="nav__bottomlist">
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Your cart</a></li>
           </ul>
        </nav>
     </div>

     <br><br><h2>Banner:</h2><br><br>

    </header>
    
    <div class="bannerhead">
<img id="banner" src="img/banner.jpg" alt="" class="banner">
</div>

    <div class="content">

        <br><br><h2>Welcome Post:</h2><br><br>

        <div class="welcome-post">
          <div class="welcome-post__main">
          <p>Welcome to Printed Matter, Inc., the world’s leading non-profit organization dedicated to the dissemination, understanding and appreciation of artists’ books.</p><br>
          <p class="button"><a href="#">See all events<a></p>
         </div>
         <img src="img/welcome.png" class="welcome-post__image" alt="field of tulips">
         </div>

         

     
       
          <div class="navicon">
            <br><br><h2>Icon Navigation Bar:</h2><br><br>
            <div class="icon__card">
              <img class="iconcard__image" src="img/arrowupicon.png" alt="Icon"/>
              <h3><a class="iconcard__title" href="#">Submit your book</a></h3>
          </div>
            
            <div class="icon__card">
              <img class="iconcard__image" src="img/sunicon.png" alt="Icon"/>
            <h3><a class="iconcard__title"href="#">Become a member</a></h3>
            </div>

            <div class="icon__card">
              <img class="iconcard__image" src="img/envelopeicon.png" alt="Icon"/>
            <h3><a class="iconcard__title"href="#">Subscribe to our list</a></h3>
            </div>

            <div class="icon__card">
              <img class="iconcard__image" src="img/circleicon.png" alt="Icon"/>
            <h3><a class="iconcard__title"href="#">Join our book circle</a></h3>
            </div>

            <div class="icon__card">
              <img class="iconcard__image" src="img/dollaricon.png" alt="Icon"/>
            <h3><a class="iconcard__title"href="#">Make a donation</a></h3>
            </div>

            <div class="icon__card">
              <img class="iconcard__image" src="img/gifticon.png" alt="Icon"/>
            <h3><a class="iconcard__title"href="#">Buy a gift certificate</a></h3>
            </div>

            <div class="icon__card">
              <img class="iconcard__image" src="img/arrowdownicon.png" alt="Icon"/>
            <h3><a class="iconcard__title"href="#">Free downloads</a></h3>
            </div>

        </div>

        <br><br><br><h2>Catalog Shop Bar:</h2>

        <div class="recentarrival">
            
          <h3 class="recentarrival__title">Recent arrivals</h3>
          <div class="titleline"></div>

          <div class=book__list>
          <div class="book__card">
            <img class="bookcard__image" src="img/hardplayers.png" alt="Icon"/>
            <p><a class="bookcard__small" href="#">Vanessa Conte</a><br>
            <a class="bookcard__title" href="#">Hard Players</a></p>
            <p><a class="bookcard__small" href="#">Books<br>
              $12.00</p>
            <p><a class="bookcard__tag" href="#">recent arrival</a></p>
          </div>

          <div class="book__card">
            <img class="bookcard__image" src="img/dash.png" alt="Icon"/>
            <p><a class="bookcard__small" href="#">Dash Snow</a><br>
            <a class="bookcard__title" href="#">Selected Works <br> From 2001 To 2009</a></p>
            <p><a class="bookcard__small" href="#">Books<br>
              $12.00</p>
            <p><a class="bookcard__tag" href="#">back in stock</a><br>
            <a class="bookcard__tag2" href="#">out of print</a></p>
          </div>

          <div class="book__card">
            <img class="bookcard__image" src="img/staple.png" alt="Icon"/>
            <p><a class="bookcard__small" href="#">Arjuna Routte-Prieur</a><br>
            <a class="bookcard__title" href="#">Stapleton Studio</a></p>
            <p><a class="bookcard__small" href="#">Books<br>
              $12.00</p>
            <p><a class="bookcard__tag" href="#">recent arrival</a></p>
          </div>

          <div class="book__card">
            <img class="bookcard__image" src="img/chan.png" alt="Icon"/>
            <p><a class="bookcard__small" href="#">k. nisimoto</a><br>
            <a class="bookcard__title" href="#">Isa Chan</a></p>
            <p><a class="bookcard__small" href="#">Books<br>
            $12.00</p>
            <p><a class="bookcard__tag" href="#">recent arrival</a></p>
          </div>

          <div class="book__card">
            <img class="bookcard__image" src="img/untitled.png" alt="Icon"/>
            <p><a class="bookcard__small" href="#">sara rabin</a><br>
            <a class="bookcard__title" href="#">Untitled (Sara Rabin)</a></p>
            <p><a class="bookcard__small" href="#">Books<br>
              $12.00</p>
            <p><a class="bookcard__tag" href="#">recent arrival</a></p>
          </div>

          <div class="book__card">
            <img class="bookcard__image" src="img/linick.png" alt="Icon"/>
            <p><a class="bookcard__small" href="#">linick keramic</a><br>
            <a class="bookcard__title" href="#">Selected Works from the Linick Archives</a></p>
            <p><a class="bookcard__small" href="#">Books<br>
              $12.00</p>
            <p><a class="bookcard__tag" href="#">recent arrival</a></p>
          </div>
      </div>

      <p class="button"><a href="#">See all events<a></p>

    </div>

    <br><br><br><h2>Events Cards:</h2>
    
        <div class="eve_exh">

            <h1 class="eventstitle">Events & Exhibitions</h1>

            <div class="events">
            <div class="event__cards">
                <img class="eventcard__image" src="img/golias1.png" alt="bookimage"/>
                <p class="eventcard__cat">Event St Marks</p>
                <p class="eventcard__title"> <a href="#">Golias Books Launch with Stacy Szymaszek and<br>
                Matt Longabucco<br>
                at Printed Matter / St Marks<br><br>
                April 23, 2022</a></p>
                <p class="button"><a href="#">See all events<a></p>
            </div>

            <div class="event__cards">
                <img class="eventcard__image" src="img/valo1.png" alt="bookimage"/>
                <p class="eventcard__cat">Event</p>
                <p class="eventcard__title"> <a href="#">Sontag Shogun x Lau Nau<br>
                <i>Valo Siroutuu</i><br>
                (Beacon Sound, LP & Book)<br><br>
                May 1, 2022</a></p>
                <p class="button"><a href="#">See all events<a></p>
            </div>
            </div>
        </div>
        
    </body>
  </html>

     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
      
  